<template>
    <div class="col-md-2" v-if="itemOptions.length > 0">
      <b-form-select 
        v-model="selectedItem"
        :options="itemOptions"
        @input="$emit('input', selectedItem)"
      />
    </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import axios from "axios"

interface Opton{
  value: any,
  text: string
}

@Component
export default class ItemSelector extends Vue{
  itemOptions: Opton[] = [{value:'', text: 'Select Item'}]

  selectedItem!: number | ''

  async created() {
    this.selectedItem = ''
    this.fetcItems()
  }

   async fetcItems() {
    await axios.get(`/api/items`).then(response => {
      response.data.result.map((item: any) => {
        this.itemOptions.push({
          value: item.id,
          text: item.name
        })
      })
    })
  }
}
</script>