<template>
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Create Item</h4>
            <b-alert show variant="danger" v-for="message in errorMessages" :key="message">{{ message }}</b-alert>
            <b-form @submit="onSubmit" @reset="onReset">
            <b-form-group
              id="input-group-1"
              label="Item Name:"
              label-for="input-1"
              description=""
            >
              <b-form-input
                id="input-1"
                v-model="form.item_name"
                type="text"
                required
                placeholder="Enter item name"
              />
            </b-form-group>

            <b-form-group 
              id="input-group-6"
              label="SKU:"
              label-for="input-6"
              description="SKU for item"
            >
              <b-form-input
                id="input-6"
                v-model="form.sku"
                placeholder="SKU"
              />
            </b-form-group>
            
            <b-form-group 
             id="input-group-2"
             label="Qty:"
             label-for="input-2"
             description="Enter minimum selling amount"
            >
              <b-form-input
                id="input-2"
                v-model="form.qty"
                type="number"
                required
                placeholder="Qty"
              />
            </b-form-group>

            <b-form-group 
              id="input-group-3"
              label="Unit:"
              label-for="input-3"
              description="Default will 'Unit'"
            >
              <b-form-input
                id="input-3"
                v-model="form.unit"
                placeholder="Unit"
              />
            </b-form-group>


            <b-form-group 
              id="input-group-4"
              label="Price:"
              label-for="input-4"
              description="Selling Price"
            >
              <b-form-input
                id="input-4"
                type="number"
                v-model="form.price"
                placeholder="Price"
              />
            </b-form-group>


            <b-form-group 
              id="input-group-5"
              label="Market Place:"
              label-for="input-5"
              description="The name of Market place"
            >
              <b-form-input
                id="input-5"
                type="text"
                v-model="form.market_name"
                placeholder="Market name"
              />
            </b-form-group>
            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
          </b-form>
          </div>
        </div>
      </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import axios from 'axios'

@Component
export default class ItemCreate extends Vue{
  form: any = {
    item_name: '',
    sku: '',
    qty: 0,
    unit: null,
    price: 0,
    market_name: ''
  }
  errorMessages: string[] = []

  async onSubmit(evt: any) {
    this.errorMessages = []
    evt.preventDefault()
    await axios.post('/api/items',
      {
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json'
        },
      },{
        data: this.form
      }
    ).then((response) => {
      if(response.data.status === 422) {
        this.errorMessages = response.data.messages
      } else {
        alert('Saved item!')
        this.onReset()
      }
    }).catch(e => {console.log(e)})
  }

  onReset() {
    this.form.item_name = ''
    this.form.sku = ''
    this.form.qty = 0
    this.form.unit = null
    this.form.price = 0
    this.form.market_name = ''
    this.errorMessages = []
  }
}
</script>