<template>
  <div>
      <div class="row">
          <item-selector
            @input="onItemChange"
          />

          <market-selector
            @input="onMarketChange"
          />

          <div class="col-lg-7">
            <b-form-checkbox
              id="checkbox-1"
              v-model="searchForm.latest_price"
            >
              Only Latest Price of Items in different Market Places
            </b-form-checkbox>
          </div>

          <b-button type="submit" variant="primary" @click="fetchData">Search</b-button>
      </div>
      <table-component
        :rows="items"
        :headers="tableHeaders"
        :page="currentPage"
        :total-rows="totalItems"
        @paginate="paginate"
      >
        <template v-slot:tableBody>
          <tbody>
            <tr 
              v-for="(item, index) in items"
              :key="index"
            >
              <td>{{ item.name }}</td>
              <td>{{ item.sku }}</td>
              <td>{{ item.market_name }}</td>
              <td>{{ item.qty }}</td>
              <td>{{ item.unit }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.price_date_at }}</td>
            </tr>
          </tbody>
        </template>
      </table-component>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import TableComponent from "./table-component.vue"
import ItemSelector from "./itemSelector.vue"
import MarketSelector from "./marketSelector.vue"
import axios from "axios";

@Component({
  components: {
    TableComponent,
    ItemSelector,
    MarketSelector
  }
})
export default class ItemList extends Vue{
  currentPage = 1

  items: any[] = []

  totalItems: number = 0

  searchForm: any = {
    item_id: '',
    market_id: '',
    latest_price: false
  }

  tableHeaders = ["Item", "SKU", "Market", "Qty", "Unit", "Price", "Date"]
  async created() {
    this.emptySearForm()
    this.fetchData()
  }
  
  async fetchData() {
    await axios.get(
      '/api/item/list',
      {
        params: this.formValues
      }
    ).then(response => {
      console.log(response)
      this.items = response.data.result
      this.currentPage = response.data.result.current_page
      this.totalItems = response.data.result.total
    })
  }

  async paginate(page: number){
    this.currentPage = page
    this.fetchData()
  }

  onItemChange(item_id: number | ''){
    this.searchForm.item_id = item_id
  }

  onMarketChange(market_id: number | ''){
    this.searchForm.market_id = market_id
  }

  emptySearForm() {
    this.searchForm.item_id = ''
    this.searchForm.market_id = ''
  }

  dateFormat(datetime: Date) {
    datetime.toLocaleString()
  }

  get formValues() {
    const form = this.searchForm
    for (var propName in form) { 
      if (form[propName] === null || form[propName] === undefined) {
        delete form[propName];
      }
    }
    return form
  }
}
</script>