<template functional>
    <div>
        
    </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator"

@Component
export default class Loading extends Vue{
    
}
</script>