<template>
    <div class="col-md-2" v-if="marketOptions.length > 0">
      <b-form-select 
        v-model="selectedItem"
        :options="marketOptions"
        @input="$emit('input', selectedItem)"
      />
    </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import axios from "axios";

interface Option{
  value: any,
  text: string
}

@Component
export default class ItemSelector extends Vue{
  marketOptions: Option[] = [{value:'', text: 'Select Item'}]

  selectedItem!: number | ''

  async created() {
    this.selectedItem = ''
    this.fetcItems()
  }

   async fetcItems() {
    await axios.get(`/api/markets`).then(response => {
      response.data.result.map((item: any) => {
        this.marketOptions.push({
          value: item.id,
          text: item.name
        })
      })
    })
  }
}
</script>