<template>
    <div>
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Items</h4>
              <table class="table table-striped">
                <thead>
                    <tr>
                      <th 
                      v-for="title in headers"
                      :key="title"
                      >{{ title }}</th>
                    </tr>
                </thead>
                <tbody>
                  <tr 
                    v-for="(market, index) in markets"
                    :key="index"
                  >
                    <td>{{ market.name }}</td>
                    <td>{{ new Date(market.created_at) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import axios from "axios"

@Component
export default class MarketsComponent extends Vue{
  headers = ["market Name", "Created At"]

  markets: any[] = []

  async created() {
    this.fetchData() 
  }

  async fetchData() {
    await axios.get('/api/markets')
    .then(response => {
      this.markets = response.data.result
    })
  }
}
</script>