<template>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Price History of items selling in different market palce</h4>
          <b-pagination
            v-model="page"
            :total-rows="totalRows"
            :per-page="100"
            aria-controls="my-table"
            @change="paginate"
          ></b-pagination>
          <p class="card-description"></p>
            <table class="table table-striped">
              <thead>
                  <tr>
                    <th 
                     v-for="title in headers"
                     :key="title"
                    >{{ title }}</th>
                  </tr>
              </thead>
              <slot name="tableBody"></slot>
            </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from "vue-property-decorator"
// import axios from "axios";

@Component
export default class TableComponent extends Vue {
  @Prop({required: true})
  rows!: any[]

  @Prop({required: true})
  headers!: string[]

  @Prop({default: 1})
  page!: number

  @Prop({required: true})
  totalRows!: number

  items: any[] = []

  @Emit()
  paginate(_page: number) {
    // 
  }
}
</script>